body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.table-container {
	overflow-x: auto;
}

.table {
	width: 100% !important;
}

.form-control-fullwidth {
	max-width: 100%;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

.validation-summary-errors ul {
	list-style-type: none;
}

.nav-pills-primary > li.active > a,
.nav-pills-primary > li.active > a:hover,
.nav-pills-primary > li.active > a:focus {
	color: #fff;
	background-color: #333;
	border-color: #101010;
}

.panel-default > .panel-heading {
	color: #fff;
	background-color: #333;
	border-color: #101010;
}

.tab-content .tab-pane {
	position: relative;
}

.fa-spin-tab {
	display: none;
	font-size: 20px;
}

.fa-table-cell {
	font-size: 20px;
	cursor: pointer;
}

.modal-dialog {
	overflow: hidden !important;
}

#simplemodal-overlay {
	background-color: #000;
	cursor: not-allowed;
}

.seperator {
	margin-top: 10px;
	margin-bottom: 10px;
}

.block {
	display: block;
}

.row-top {
	margin-top: 15px;
}

.btn-150 {
	min-width: 150px;
}

.clickable{
cursor:pointer;
}

.paragraph {
	white-space: pre-line;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.jGrowl-notification {
	width: 250px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	display: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	min-height: 40px;
}

	.jGrowl-notification .jGrowl-header {
		font-weight: bold;
		font-size: 14px;
		padding: 0px;
		margin: 0px;
	}

	.jGrowl-notification .jGrowl-message {
		font-size: 12px;
	}

	.jGrowl-notification .jGrowl-line {
		padding: 0px;
		margin: 0px;
		padding-top: 2px;
		padding-bottom: 4px;
	}

	.jGrowl-notification .jGrowl-icon {
		padding-right: 5px;
		font-size: 30px;
		vertical-align: middle;
	}
