@model TradeSatoshi.Models.User.UserBalancesModel
<div class="row">
	<div class="col-md-5">
		<div id="p1" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Logons</h3>
			</div>
			<div class="panel-body">
				<table id="table-logons" class="table">
					<thead>
						<tr>
							<th>UserName</th>
							<th>IPAddress</th>
							<th>IsValid</th>
							<th>Logon Time</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div id="p2" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Roles</h3>
			</div>
			<div class="panel-body">

				<table id="table-roles" class="table">
					<thead>
						<tr>
							<th>UserName</th>
							<th>Role</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script>


@*	$('#table-roles').dataTable({
		"order": [[0, "asc"]],
		"lengthChange": false,
		"processing": true,
		"bServerSide": true,
		"searching": true,
		"scrollCollapse": false,
		"sPaginationType": "simple_numbers",
		"pageLength": "15",
		"sort": true,
		"paging": true,
		"info": true,
		"language": { "emptyTable": "No data avaliable." },
		"sAjaxSource": '@Url.Action("GetSecurityRoles")',
		"sServerMethod": "POST",
		"fnServerParams": function (aoData) {
			aoData.push({ "name": "securityRole", "value": $('#SelectedSecurityRole').val() });
		},
		"columnDefs": [{
			"targets": 2,
			"searchable": false,
			"orderable": false,
			"render": function (data, type, full, meta) {
				return "<span class='pull-right'><button style='width:80px' onclick='updateRole(\"" + full[0] + "\", true);' class='btn btn-xs btn-success'>Add</button><button style='width:80px' onclick='updateRole(\"" + full[0] + "\", false);' class='btn btn-xs btn-danger'>Remove</button></span>";
			}
		}]
	});

	$('#SelectedSecurityRole').on('change', function () {
		$('#table-roles').dataTable().fnDraw();
	});

	function updateRole(user, isAdd) {
		var action = isAdd ? '@Url.Action("AddSecurityRole")' : '@Url.Action("RemoveSecurityRole")';
		openModal(action, { user: user }, function () {
			$('#table-roles').dataTable().fnDraw();
		});
	}*@


</script>
