@model TradeSatoshi.Common.User.UserSecurityModel
<div class="row">
	<div class="col-md-12">
		<div id="p1" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Logons</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div id="changePasswordTarget" class="col-md-6 col-lg-4">
						@Html.Partial("_PasswordPartial")
					</div>

					<div class="col-md-6 col-lg-4">
						<div class="col-md-12">
							@{ Html.RenderAction("GetTwoFactor", "TwoFactor", new { component = TradeSatoshi.Common.TwoFactorComponentType.Login });}
						</div>
						<div class="col-md-12">
							@{ Html.RenderAction("GetTwoFactor", "TwoFactor", new { component = TradeSatoshi.Common.TwoFactorComponentType.Withdraw });}
						</div>
							<div class="col-md-12">
							@{ Html.RenderAction("GetTwoFactor", "TwoFactor", new { component = TradeSatoshi.Common.TwoFactorComponentType.Transfer });}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>