<div class="rightSidebar-top-container">
	<div class="leftSidebar-body-wrapper panel panel-default">
		<div class="panel-heading">
			<span>Chat</span>
			<small style="font-size:10px" class="pull-right">
				<span>Users Online: </span>
				<span id="chat-count">0</span>
			</small>
			<i class="fa fa-tablet pull-right" aria-hidden="true" style="cursor:pointer; font-size:120%;margin-right:5px" title="popout chat window" onclick="openChat('@Url.RouteUrl("ChatWindow")')"></i>
		</div>
		<div class="rightSidebar-top-body" id="chat-table-container">
			<table id="chat-table" class="table table-striped" data-user="@User.Identity.Name">
				<tbody></tbody>
			</table>
		</div>
		<div class="rightSidebar-top-footer panel-footer nopad">
			@if (User.Identity.IsAuthenticated)
			{
			<div id="chat-table-footer">
				<textarea id="chat-input" rows="3"></textarea>
				<button id="chat-submit" class="btn btn-info">Send</button>
			</div>
			}
			else
			{
			<div id="chat-table-footer-offline" class="text-center">
				<i>Please @Html.ActionLink("login", "Login", "Account", new { ReturnUrl = Request.Path }, null) to chat.</i>
			</div>
			}
		</div>
	</div>
</div>

<div class="rightSidebar-bottom-container">
	<div class="rightSidebar-body-wrapper panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">News</h3>
		</div>
		<div class="rightSidebar-bottom-body">
			<a class="twitter-timeline" href="https://twitter.com/Cryptopia_NZ" data-widget-id="694762106889973760">Tweets by @@Cryptopia_NZ</a>
			<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
		</div>
	</div>
</div>

<script id="chatMessageTemplate" type="text/html">
	<tr id="message-{{id}}">
		<td class="{{highlight}}">
			<small>
				<i class="{{icon}}"></i>
				<b class="clickable" onclick="quoteMessage('{{user}}');">{{user}}</b>:
			</small>
			<span class="pull-right">
				<small class="time" data-val="{{time}}">{{since}}</small>
				@if (User.IsInRole(TradeSatoshi.Common.Security.SecurityRole.Administrator))
				{
				<i class="fa fa-times text-danger clickable" onclick="removeMessage({{id}});"></i>
				}
			</span>
			<p class="paragraph">{{message}}</p>
		</td>
	</tr>
</script>
