@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Html.Resource("Error");
}

<h1 class="text-danger">@ViewBag.Title.</h1>
<h2 class="text-danger">@Html.Resource("An error occurred while processing your request.")</h2>

