@{
    ViewBag.Title = "Unauthorized";
}

<div class="alert alert-warning" style="margin: 5%;">
    <h4 class="nopad" style="margin:0px"><strong>Unauthorized!</strong></h4>
    <hr />
    <h5>You are not authorized to view this area.</h5>
</div>

