@{
    ViewBag.Title = Html.Resource("Contact");
}
<button onclick="openModal('@Url.Action("Test", "Home")')">Modal Test</button>
<button onclick="openModal('@Url.Action("Test2", "Home")')">Modal Test</button>
<button onclick="confirmModal('Are You Sure?', 'Are you sure you want to dot this?')">Confirm Test</button>
<button onclick="notifyModal('Notification', 'Something happend and im telling you...')">Notification Test</button>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
