@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Tradesatoshi</h1>
    <p class="lead">The Fastest, most secure way to trade your crypto-currency</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Exchange</h2>
        <p>
            Trade you crypto accoss many trade pairs instantly...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Secure TFA authentication keeps you coins safe from the dick weeds.</p>
    </div>
    <div class="col-md-4">
        <h2>Voting</h2>
        <p>Vote for the coins you want to see on Tradesatoshi.</p>
    </div>
</div>