@{
    ViewBag.Title = Html.Resource("Terms of Service");
}

<div class="jumbotron row-top">
    <h1>@Html.Resource("Terms of Service")</h1>
    <p class="lead">@Html.Resource("Something something first born child if you use the site.")</p>
</div>