@{
	Layout = "~/Views/Shared/_Modal.cshtml";
}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button class="close simplemodal-close" aria-hidden="true" type="button">×</button>
			<h3 class="modal-title"><span class="symbol"></span>Update User</h3>
			<small>Update user settings</small>
		</div>

		<div class="modal-body">
		@using (Ajax.BeginForm("Test3", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "simplemodal-data", InsertionMode = InsertionMode.Replace }))
		{
		<span>@ViewBag.Test</span>
		<button type="submit" class="btn btn-primary">Ok</button>
		}
		</div>

		<div class="modal-footer">
		<button class="btn btn-primary">Save Changes</button>
			<button class="btn btn-primary simplemodal-close">Cancel</button>
		</div>
	</div>
</div>




