<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Transfers</h3>
	</div>
	<div class="panel-body">
		<table id="table-transfer" class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Symbol</th>
					<th>Amount</th>
					<th>Fee</th>
					<th>TransferType</th>
					<th>Sender</th>
					<th>Receiver</th>
					<th>Timestamp</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<script>
	$('#table-transfer').dataTable({
		"order": [[0, "asc"]],
		"lengthChange": false,
		"processing": true,
		"bServerSide": true,
		"searching": true,
		"scrollCollapse": false,
		"sPaginationType": "simple_numbers",
		"oSearch": { "sSearch": "@ViewBag.Search" },
		"scrollY": '600px',
		"pageLength": "15",
		"sort": true,
		"paging": true,
		"info": true,
		"language": { "emptyTable": "No data avaliable.", "search": "", searchPlaceholder: "Search transfers" },
		"sAjaxSource": '@Url.Action("GetTransfers")',
		"sServerMethod": "POST"
	});
</script>
