@helper GetSupportTicketStatus(TradeSatoshi.Enums.SupportTicketStatus status)
{
	<span>
		<strong>Status: </strong>
		@switch (status)
		{
			case TradeSatoshi.Enums.SupportTicketStatus.New:
			<span class="text-info">New</span>
				break;
			case TradeSatoshi.Enums.SupportTicketStatus.UserReply:
			<span class="text-warning">Awaiting Admin</span>
				break;
			case TradeSatoshi.Enums.SupportTicketStatus.AdminReply:
			<span class="text-success">Admin Reply</span>
				break;
			case TradeSatoshi.Enums.SupportTicketStatus.UserClosed:
			<span class="text-danger">Closed by you</span>
				break;
			case TradeSatoshi.Enums.SupportTicketStatus.AdminClosed:
			<span class="text-danger">Closed by Admin</span>
				break;
			default:
				break;
		}
	</span>
}

@helper ExternalLink(string title, string link)
{
	<a href="@link" target="_blank">@title</a><small style="font-size: xx-small; padding-left: 10px;cursor:pointer" title="This is an external link use at your own risk"><i>[Caution External Link]</i></small>
}