<div class="row">
	<div class="col-md-12">
		@Helpers.AlertResultSection()
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Site Withdrawals</h3>
			</div>
			<div class="panel-body">
				<table id="table-withdraw" class="table table-condensed table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>User</th>
							<th>Symbol</th>
							<th>Amount</th>
							<th>Fee</th>
							<th>NetAmount</th>
							<th>Status</th>
							<th>Confirmations</th>
							<th>Txid</th>
							<th>Address</th>
							<th>TimeStamp</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script id="menuTemplate" type="text/html">
	<span>
		<a onclick="cancelWithdraw('{{username}}',{{id}});" title="Cancel Withdrawal">Cancel...</a>
		<a onclick="resendEmail('{{username}}',{{id}});" title="Resend withdrawal confirmation email" style="margin-left:10px">Resend Email...</a>
	</span>
</script>

<script>
	var menuTemplate = $('#menuTemplate').html();
	var table = $('#table-withdraw').dataTable({
		"order": [[0, "desc"]],
		"lengthChange": false,
		"processing": true,
		"bServerSide": true,
		"searching": true,
		"scrollCollapse": false,
		"sPaginationType": "simple_numbers",
		"pageLength": 15,
		"sort": true,
		"paging": true,
		"info": true,
		"language": { "emptyTable": "No data avaliable." },
		"sAjaxSource": '@Url.Action("GetWithdrawals")',
		"sServerMethod": "POST",
		"columnDefs": [{
			"targets": 8,
			"searchable": false,
			"orderable": false,
			"render": function (data, type, full, meta) {
				if (full[6] === 'Unconfirmed') {
					return Mustache.render(menuTemplate, { username:full[1], id: full[0] });
				}
				return data;
			}
		}]
	});

	function cancelWithdraw(username, id) {
		postJson('@Url.Action("CancelWithdraw")', { username: username, withdrawId: id }, function (data) {
			showAlertResult(data);
			table.fnDraw();
		});
	}

	function resendEmail(username, id) {
		postJson('@Url.Action("ResendConfirmationEmail")', { username: username, withdrawId: id }, function (data) {
			showAlertResult(data);
			table.fnDraw();
		});
	}
</script>